.requests {
    margin: 3% 10%;

    .my-profile {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: white;
        padding: .5rem 1rem;
        border-radius: 12px;

        &-info {
            display: flex;
            gap: 10px;
            align-items: center;

            &-img {
                width: 85px;
                height: 85px;
                border-radius: 50%;
                overflow: hidden;
                cursor: pointer;

                img {
                    width: 100%;
                    height: 100%;
                }
            }

            &-box {
                display: flex;
                flex-direction: column;
                gap: 3px;
                align-items: center;
                margin-top: 5px;

                &-name {
                    font-size: 22px;
                    font-weight: bold;
                }

                &-surname {
                    font-size: 22px;
                    font-weight: bold;
                }
            }
        }

        &-settings {
            width: 60px;
            height: 60px;

            img {
                width: 100%;
                height: 100%;
                border-radius: 12px;
            }
        }
    }
}