.sider{
    width:100%;
    height:100vh;
    /* background-color:lightblue; */
    background-color: lightcyan;
    margin-left: -29%;
    box-shadow: 5px 0 30px 0px lightblue;
}

.icon-search-menu{
    display: flex;
    justify-content: space-between;
}

.menu-icon{
    width: 35px;
    height: 35px;
    cursor: pointer;
    margin-left: 0.9rem;
}
.security-icon{
    width: 40px;
    height: 40px;
    cursor: pointer;
    margin-right: 0.9rem;
}

.search{
    width: 65%;
}

.menuDiv{
    width: 90%;
    height: 87%;
    margin-top: 1rem;
    margin-left: 5%;
    border-radius: 10px;
    background-color: white;
    position: relative;
}

.romb{
    position: absolute;
    width: 40px;
    height: 40px;
    background-color: white;
    transform: rotate(45deg);
    margin-left: 0.6rem;
    margin-top: -1rem;
}

.ll{
    position: absolute;
    bottom: 1rem;
}


.text-menu-div{
    width: 280px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 30px;
    font-family: sans-serif;
    box-sizing: border-box;
    padding-top: 1.9rem;
    padding-left: 1rem;
  }
  
  .f{
    background-color: indigo;
    color: white;
    padding: 0.1rem 0.7rem;
    border-radius: 15px 25px 0px 25px;
    font-size: 35px;
    border: 5px solid red;
  }
  
  .text-menu-div .a{
    color: green;
  }
  
  .text-menu-div .b{
    color: red;
  }

  .text-menu div:hover{
    transform: scale(1.2);
    cursor: pointer;
  }

  .addUserBtn{
    position: absolute;
    top: 8rem;
  }